{% extends 'catalog_app/base.html' %}

{% block content %}

    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-7">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Страна</li>
                        <li class="list-group-item">ИНН</li>
                        <li class="list-group-item">Адрес</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Связаться с нами
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Имя</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Номер телефона</label>
                                <input type="text" name="phone number" class="form-control">
                            </div>


                            <div class="mb-3">
                                <label class="form-label">Сообщение</label>
                                <textarea name="message" class="form-control"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
