{% extends 'catalog_app/base.html' %}

{% block content %}


<h1 class="text-center">Интернет-магазин "Идейка!"</h1>
<h3 class="text-center"><em>От хорошей идеи до гениальной всего 50$!</em></h3>
    <div class="container-xxl">
        <div class="row">
            {% for object in objects_list %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        {{object.name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{object.price}}$</h5>
                        <p class="card-text">{{object.description}}</p>

                        {% if object.name == 'Генератор безумных идей.' %}
                            <a href="{% url 'catalog:product_1' %}" class="btn btn-primary">Купить</a>
                        {% elif object.name == 'Так себе идейка...' %}
                            <a href="{% url 'catalog:product_2' %}" class="btn btn-primary">Купить</a>
                        {% elif object.name == 'Хорошая идея.' %}
                            <a href="{% url 'catalog:product_3' %}" class="btn btn-primary">Купить</a>
                        {% elif object.name == 'Отличная идея!' %}
                            <a href="{% url 'catalog:product_4' %}" class="btn btn-primary">Купить</a>
                        {% elif object.name == 'Гениальная идея!!!' %}
                            <a href="{% url 'catalog:product_5' %}" class="btn btn-primary">Купить</a>
                        {% elif object.name == 'Генератор гениальных идей.' %}
                            <a href="{% url 'catalog:product_6' %}" class="btn btn-primary">Купить</a>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

