{% extends 'catalog_app/base.html' %}

{% block content %}
<h1 class="text-center">Отличная идея</h1>
<div class="container">
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/media/product/Отличная идея.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Товар отменного качества. Возвратов и жалоб еще не было.</p>
                <h3 class="card-text">100$</h3>

                <a href="#" class="btn btn-primary">В корзину</a>
                </div>
            </div>
        </div>
        <div  class="col-9">
            <ul class="list">
                <li><span style="font-size: 20px">Будьте на голову выше и на шаг впереди всех окружающих.</span></li>
                <li><span style="font-size: 20px">Осторожно! Товар настолько хорош, что можно быстро привыкнуть.</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
