{% extends 'catalog_app/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
